/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug rules */
.debug #carousel {
    background-color: aqua;
}
.debug #main_view {
    background-color: blue;
}
.debug #tumbnails {
    background-color: brown;
}
.debug #tumb_2 {
    background-color: chartreuse;
}

/* common rules */
.row {
    height: 100%;
    display: flex;
}

.button {
    font-size: .6rem;
    position: absolute;
    left: 40%;
    width: 35px;
    height: 35px;
    border-radius: 2rem;
}
.arrow_up {
    top: 10px;
}
.arrow_down {
    bottom: 10px;
}


/* carousel */
#carousel {
    width: 70%;
    height: 350px;
    margin: 7rem auto;
}

/* main view */
#main_view {
    width: 85%;
    height: 100%;
}

/* tumbnails */
#tumbnails {
    width: 15%;
    height: 100%;
    position: relative;
}

/* tumbnail */
.tumbnail {
    width: 100%;
    height: calc(100% / 5);
}